<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dota2 Update Notifier.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE09DC212BC5231900264B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE09DC312BC5232200264B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE09DC3B2BC5232200264B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
